
@{
    ViewBag.Title = "Produtos";
}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="~/lib/jquery/dist/jquery.js"></script>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>*@
<script src="~/js/Produto.js"></script>

<form class="form-horizontal">
    <fieldset>

        <div class="card">
            <div class="card-header" style="background-color:#144b87;color:white">
                <h2>Produtos</h2>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddOrEdit" onclick="LimparCampos();">Adicionar Produto</button><br /><br />
                <hr />
                <div class="container">
                    <div class="table-responsive-lg">
                        <table class="table ">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">
                                        Nome
                                    </th>
                                    <th scope="col">
                                        Tipo
                                    </th>
                                    <th scope="col">
                                        Tamanho
                                    </th>
                                    <th scope="col">
                                        Quantidade
                                    </th>
                                    <th scope="col">
                                        Valor
                                    </th>
                                    <th scope="col">
                                        Descrição
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                    </div>
                    @*<div class="row">
                        <div class"col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">
                                                    Nome
                                                </th>
                                                <th scope="col">
                                                    Tipo
                                                </th>
                                                <th scope="col">
                                                    Tamanho
                                                </th>
                                                <th scope="col">
                                                    Quantidade
                                                </th>
                                                <th scope="col">
                                                    Valor
                                                </th>
                                                <th scope="col">
                                                    Descrição
                                                </th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>


            </div>

        </div>
    </fieldset>

    <div class="modal fade" id="modalAddOrEdit" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:70%" role="document">
            <div class="modal-content" >
                <div class="modal-body" style="padding:0px!important">
                    <div class="card">
                        <div class="card-header" style="background-color:#144b87;color:white">
                            <label id="lblTitleModal">Adicionar Produto</label>
                        </div>
                        <div class="card-body">
                            <div class="form-row" style="display:none">
                                <label for="Id">ID</label>
                                <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label id="lblTipo">Tipo</label>
                                    <select class="form-control" id="selTipo">
                                        <option></option>
                                        <option>Blusa</option>
                                        <option>Calça</option>
                                        <option>Camiseta</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label id="lblNome">Nome</label>
                                    <input type="text" id="txtNome" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTamanho">Tamanho</label>
                                    <select class="form-control" id="selTamanho">
                                        <option></option>
                                        <option>P</option>
                                        <option>M</option>
                                        <option>G</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label id="lblQuantidade">Quantidade</label>
                                    <input type="number" id="txtQuantidade" class="form-control" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label id="lblValor">Valor</label>
                                    <input type="text" id="txtValor" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label id="lblDescricao">Descrição</label>
                                    <textarea class="form-control" id="txtDescricao" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" style="text-align:right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger" id="btnLimpar" onclick="return LimparCampos();">Limpar</button>
                            <button type="button" class="btn btn-primary" id="btnCadastrar" onclick="return Adicionar();">Adicionar</button>
                            <button type="button" class="btn btn-primary" id="btnAtualizar" onclick="return Atualizar();">Atualizar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<style>
    li.nav-item.active a {
        background: #fff;
        color: black;
        /*border: 1px solid #eee;
        border-bottom: none;*/
    }

    li.nav-item a {
        background: #144b87;
        color: white;
        /*border: 1px solid #eee;
        border-bottom: none;*/
    }
</style>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script type="text/javascript">var jQuery_resizeble = $.noConflict(true);
    jQuery_resizeble('.modal-content').resizable({
        //alsoResize: ".modal-dialog",
        minHeight: 300,
        minWidth: 300
    });
    jQuery_resizeble('.modal-dialog').draggable();

    jQuery_resizeble('#modalViewOrEdit1').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            'max-height': '100%'
        });
    });</script>

@*<script src="~/lib/jquery/dist/jquery.mask.min.js"></script>
<script type="text/javascript">var jQuery_mask = $.noConflict(true);
    jQuery_mask('#txtValor').mask('#.##0,00', { reverse: true });</script>*@