<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Ecommerce Administrativo</title>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/menu_lateral.css">
        <link rel="stylesheet" href="~/lib/sweetalert/css/sweetalert2.css" />
        <link rel="stylesheet" href="~/lib/sweetalert/css/sweetalert2.css" />
        <script type="text/javascript" src="~/lib/sweetalert/js/sweetalert2.js"></script>
    </head>
    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Ecommerce Administrativo</h3>
                </div>
                <ul class="list-unstyled components">
                    <p>#Nome Usuário Logado</p>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cadastro</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Produto" asp-action="Produto">Produtos</a>

                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- Page Content Holder -->
            <div class="container body-content" id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <label class="ml-auto" style="font-weight:bold; font-size:20px; color:#144b87">GERENCIAMENTO DA LOJA</label>
                    </div>
                </nav>
                @RenderBody()
            </div>
        </div>

            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript">$(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });</script>
        @RenderSection("Scripts", required: false)


        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
